$main-color: #65B4D4;
$hover-color: #669EC0;
$active-color:#5496BD;


.social__link {
		width: 50px;
		height: 50px;
		text-decoration: none;
		background-color: $main-color;
		position: relative;

		&:hover {
			background-color: $hover-color;
		}

		&:active {
			background-color: $active-color;
			opacity: 0.7;
		}
	}

	.social__img--1 {
		position: absolute;
		top: 17px;
		left: 33%;
		fill: red;
	}

	.social__img--2 {
		position: absolute;
		top: 15px;
		left: 41%;
	}

	.social__img--3 {
		position: absolute;
		top: 17px;
		left: 31%;
	}

	.made-by {
		width: 140px;
		height: 20px;
		position: relative;
		margin: 0 auto;
	}

	.made-by__title {
		margin: 0;
		font-size: 14px;
		font-weight: normal;
		text-transform: uppercase;
	}

	.made-by__logo {
		position: absolute;
		right: 0;
		top: -10px;
	}

@media (min-width: 300px) and (max-width: 768px) {

	.footer-page {
		color: black;
		width: 320px;
		min-height: 245px;
		margin: 0 auto;
	}

	.footer-page__title {
		display: block;
		margin: 0;
		margin-top: 43px;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		text-transform: uppercase;
		text-align: center;
		font-size: 18px;
		


	}

	.social {
		width: 200px;
		min-height: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	
}


@media (min-width: 768px) and (max-width: 1200px) {

	.footer-page {
		color: black;
		width: 768px;
		min-height: 120px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		align-content: center;
	}

	.footer-page__title {
		display: block;
		margin: 0;
		margin-top: 43px;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		


	}

	.social {
		width: 175px;
		min-height: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		margin: 0 auto;;
	}

	
}


@media (min-width: 1200px) {

	.footer-page {
		color: black;
		width: 1200px;
		min-height: 120px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		align-content: center;
		background-color: white;
	}

	.footer-page__title {
		display: block;
		margin: 0;
		margin-top: 43px;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		


	}

	.social {
		width: 175px;
		min-height: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		margin: 0 auto;;
	}

}


